<div class="Index"
  v-show="db.config.inited"
  @dblclick.self="toggleFullScreen">

  <div class="webcam-video-row">
    <WebcamVideo 
      ref="WebcamVideo"
      :db="db"
      input_id="0"
      style="background-color: blue;">
    </WebcamVideo><WebcamVideo 
    ref="WebcamVideo"
    :db="db"
    input_id="2"
    style="background-color: yellow;">
  </WebcamVideo>
  </div>
  

  <div class="webcam-video-row">
    <WebcamVideo 
    ref="WebcamVideo"
    :db="db"
    input_id="3"
    style="background-color: red;">
  </WebcamVideo><WebcamVideo 
  ref="WebcamVideo"
  :db="db"
  input_id="1"
  style="background-color: green;">
</WebcamVideo>
  </div>

</div>